.logo {
    text-align: center;
}

.menu-logo {
    width: 80%;
}

.habilitar-menu {
    pointer-events: auto;
    cursor: pointer;
}

.deshabilitar-menu {
    pointer-events: none;
    cursor: default;
}

.menu {
    height: 50px;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.mostrar {
    display: none;
}

.ocultar {
    display: block;
}

@media only screen and (max-width: 768px) {
    .logo img {
        width: 90%;
    }
    .mostrar {
        display: block;
    }
    .ocultar {
        display: none;
    }
    .nav-avatar {
        display: none !important;
    }
}

.titulo-login {
    display: block;
    text-align: center;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.9)
}

.modal-body {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.modal-body .input-group i {
    width: 20px;
}

.modal-header {
    border: none;
}

.modal-footer {
    justify-content: center;
}

.text-14 {
    font-size: 14px;
}

.btn-social {
    color: white;
    border: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    margin-right: 4px;
    transition: all 0.3s;
}

.btn-social:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.btn-google {
    background-color: #dd4b39;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00acee;
}

.btn-social i {
    font-size: 25px;
}

.social-parrafo {
    color: gray;
    font-size: 15px;
    margin-bottom: 10px !important;
}

.botones-social {
    display: flex;
    justify-content: center;
}

.nav-avatar {
    display: flex;
    align-items: center;
    margin: 0px 5px;
}

.nav-avatar img {
    width: 25px;
    cursor: pointer;
    border-radius: 50%;
}