.acciones {
    width: 170px;
}

.listados span {
    font-weight: 700;
}

.modal-listado,
.modal-form-serie,
.modal-form-capitulo,
.modal-info,
.modal-confirm {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    animation-name: fadeIn;
    animation-duration: .5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-container {
    width: 900px;
    padding: 30px 0;
    background-color: rgba(223, 223, 223, 0.9);
    position: fixed;
    border-radius: 10px;
    border: 1px solid #222222;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: slide;
    animation-duration: .5s;
}

.modal-info .modal-container {
    width: 500px;
}

.modal-container h5 {
    color: #222222;
}

@keyframes slide {
    from {
        top: -100%;
    }
    to {
        top: 50%;
    }
}

.header {
    display: flex;
    text-align: center;
    padding: 0 30px;
}

.modal-title {
    margin-left: 60px;
    flex-grow: 9;
}

.modal-close {
    text-align: right;
    font-size: 25px;
    color: #3a3a3a;
    flex-grow: 1;
}

.modal-close i {
    cursor: pointer;
    transition: transform .3s, color .3s;
}

.modal-close i:hover {
    transform: scale(1.3);
    color: #222222;
}

.cuerpo {
    overflow: auto;
    margin-top: 8px;
    height: 400px;
}

.modal-info .cuerpo {
    height: auto;
}

.cuerpo p {
    color: #222222;
}

.cuerpo::-webkit-scrollbar {
    width: 8px;
    background: rgba(128, 128, 128, 0.9);
}

.cuerpo::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
}

.listado {
    display: flex;
}

.listado:hover {
    background-color: #a1a0a0;
}

.listado p:first-child {
    margin-left: 30px;
}

.listado div {
    margin-right: 30px;
}

.listado p {
    margin: 8px 10px;
    flex-grow: 1;
}

.botones button {
    margin-top: 5px;
}

.formulario {
    height: 450px;
}

.cuerpo form {
    padding: 0 30px;
}

.cuerpo form input {
    margin: 15px;
}

.modal-info .cuerpo {
    padding: 0 20px;
}

.modal-info .footer {
    text-align: center;
    padding: 0 10px;
}

.modal-info .btn,
.modal-confirm .btn {
    width: 90px;
}

.boton-ok {
    border: none;
    background-color: transparent;
    color: #025302;
}

.listados .table .reporte {
    width: 40px;
    border-radius: 5px;
}

.modal-confirm .modal-container {
    padding: 20px 20px;
    width: 500px;
}

.modal-confirm .cuerpo {
    height: auto;
}

.modal-confirm .btn:first-child {
    color: #cccccc;
    background-color: #008000;
    border: none;
}

.modal-confirm .btn:first-child:hover {
    background-color: rgb(4, 160, 4);
}

.modal-confirm .btn:last-child {
    color: #cccccc;
    background-color: #9c0303;
    border: none;
}

.modal-confirm .btn:last-child:hover {
    background-color: #b80303;
}